*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: grey;
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: #eeeff1;
    text-decoration: none;
}

/*NAVBAR*/
nav{
  display: flex;  
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .left a{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: white;
    margin: 0 10px;
    transition: 1s;
}

nav .right a:hover{
    color: red;
}

/*Section 1: hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 50px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2{
    font-size: 45px;
}

.hero-section .cartooncharacter {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .cartooncharacter img{
    width: 600px;
    border-radius: 50%;
}

/*Section 2: contact */
.Contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.Contact-section h2 {
    font-size: 35px;
}

.Contact-section .group {
    display: flex;
    gap: 50px;
}

.Contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-info-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contact-info-container .email-icon {
    width: 1px;
    border-radius: 5%;
} 

.contact-info-upper-container p a{
    display: flex;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
.Contact-section .group form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Contact-section .group form input,
.Contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid red;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    resize: none;
    outline: none;
}

.Contact-section .group form button {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: grey;
    border: none;
    cursor: pointer;
    height: 50px;
    transition: .2s;
}

.Contact-section .group form button:hover{
    filter: brightness(.8);
}

footer{
    margin-top: 100px;
    display: flex;

}
@media (max-width:850px) {
    /* Section 1:hero */
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width:740px) {
    /* Section 1:hero */
    .hero-section {
        font-size: 35px;
        flex-direction: column-reverse; 
    }

    .hero-section .cartooncharacter img {
        width: 300px;
    } 

    /*Section 2: contact */
    .Contact-section .group {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    /*NAVBAR*/
    nav{
        padding: 0 20px;
    }

    /* Section 1: hero */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
       font-size: 30px; 
    }

    
    /*Section 2: contact */
    .Contact-section {
        padding: 0 20px;
    }
}